<h1>Places I Have Been</h1>

<ul>
  <% @places.each do |place| %>
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
  <% end %>
</ul>

<p>
<a href="/entries">New Entry</a>
</p>