<h1>Places I Have Been</h1>

<% places = ["Mexico City", "Charleston", "Beijing", "Amsterdam"] %>

<p>I have been to <%= places.length %> places:

<ul>
  <li>Mexico City</li>
  <li>Charleston</li>
  <li>Beijing</li>
  <li>Amsterdam</li>
</ul>

